.title {
	text-align: center;
}

.header_link {
	text-align: center;
}
#search_header {
	text-align: center;
}

#search {
	width:60%;
	height:35px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid black;
	font-size: 13pt;
	text-align: center;
}

#search_submit {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 30%;
	height: 60px;
}